* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input,
textarea {
  width: 100%;
  margin: 10px 0 20px;
  border: 1px solid #e5e5e5;
  font-size: 18px;
}

input:focus {
  border: 1px solid rgb(255, 147, 255);
}

textarea:focus {
  border: 1px solid rgb(255, 147, 255);
}
